.odin {
    color:white;
    background-color: black;
    text-align: center;
}

div{
    text-align: center;
    font-size: 20px;
}

#img {
    align-items: center;
    background-color: rgb(255, 208, 0);
}